@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


body {
    font-family: 'Black Ops One', cursive;    
    background-color: #355764;
}

#seleccionar-mascota {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}
.titulo {
    font-size:60px;
    color: #FFEA11;
    }

.subtitulo {
    font-size:24px;
    color: #FFEA11;
}

.tarjetas, .tarjetas-ataque {
    display:flex;
    gap:10px
}

.tarjeta-de-mokepon {
    width:180px;
    height:100px;
    background: #5A8F7B;
    padding:10px;
    box-sizing:border-box;
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #FFEA11;

}

.tarjeta-de-mokepon img {
    width:80px
}

input {
        display:none
    }

input:checked + label {
    background-color: aquamarine;
}

#boton-mascota {
    width: 200px;
    height: 40px;
    margin: 40px;
    background-color: #FFEA11;
    border: 1px solid;
    border-radius: 20px;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    color: #355764;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.btn-ataque {
    width: 100px;
    height: 40px;
    margin: 40px;
    background-color: #FFEA11;
    border: 1px solid;
    border-radius: 20px;
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    color: #355764;
}

#mensajes {
    width:250px;
    background:#5A8F7B;
    padding:20px;
    margin-top:20px;
    border-radius:20px;
    display:flex;
    align-items:center;
    flex-direction:column
}

#boton-reiniciar{
    background-color: #5A8F7B;
    border:none;
    color:#FFEA11;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
#ver-mapa button {
    width: 80px;
    height: 40px;
    margin: 5px;
    background-color: #FFEA11;
    border: 1px solid;
    border-radius: 10px;
    font-family: 'Black Ops One', cursive;
    font-size: 10px;
    color: #355764;
}



@media (max-width: 560px) {
    .tarjetas, .tarjetas-ataques {
      flex-direction: column;
    }
  }
  
  @media (max-width: 300px) {
    #ver-mapa div {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
}